*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --background-color: #1F2937;
    --accent-color: #10B981;
    --font-primary-color: #FFF;
    --font-secondary-color: #D5D4D8;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: var(--background-color);
    color: var(--font-primary-color);
}

section {
    width: 85%;
    margin: 0 auto;
}

h1 {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 10px;
}

h2 {
    font-weight: 400;
    color: var(--font-secondary-color);
    font-size: 1.25rem;
    margin-bottom: 2.5em;
}

form#generate-pwd-form button {
    background: var(--accent-color);
    color: var(--font-primary-color);
    font-weight: 500;
    border-radius: 6px;
    padding: 0.7em 1.4em;
    box-shadow: 0px 1px 2px 0px #0000000D;

}

#generate-pwd {
    padding-bottom: 2em;
    margin-top: 7em;
    margin-bottom: 2em;
    border-bottom: 1px solid #2F3E53;
}

#pwd-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.pwd-tag {
    min-width: 211px;
    height: 39px;
    padding: 1em 3em;
    border-radius: 6px;
    background: #273549;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pwd-tag > p {
    line-height: 32px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--accent-color);
    margin: 0;
}

.highlight {
    display: block;
    color: var(--accent-color);
}

input[type="checkbox"] {
    cursor: pointer;
}

button {
    cursor: pointer;
}

input[type="range"] {
    accent-color: var(--accent-color);
    width: 50%;
}